<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4
        }
    </style>
</head>
<body>
    <div class = "container">
        <h1>Account Activation</h1>
        <p class="greeting" th:text = "'Hello ' + ${username} + ','"></p>
        <p>Thanks for signing up!</p>
        <div class="activation-code"><span th:text="${activation_code}"></span></div>
        <div>
            <a th:href="${confirmationurl}" target="_blank">Activate your account</a>
        </div>
    </div>
</body>
</html>